<div class="header-topbar bg-main">
    <div class="banner-media">
        <div class="container p-0">
            <div id="banner-media" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    <a href="~/Error/Index">
                        <div class="carousel-item active">
                            <img src="~/Content/client/img/banner-media/1200-44-1200x44.png" class="d-block w-100" alt="Hè đậm sale - Giảm đậm sâu - Đến 50%">
                        </div>
                    </a>

                    <a href="~/Error/Index">
                        <div class="carousel-item">
                            <img src="~/Content/client/img/banner-media/1200-44-1200x44-13.png" class="d-block w-100" alt="Chuẩn sao nhập học - Sắm laptop - Giảm đến 50% - Đổi điểm thi giảm thêm đến 3 triệu">
                        </div>
                    </a>
                </div>
                <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#banner-media" data-bs-slide="prev">
                    <i class="fal fa-angle-left"></i>
                </button>
                <button class="carousel-control carousel-control-next" type="button" data-bs-target="#banner-media" data-bs-slide="next">
                    <i class="fal fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
