<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagstore.online - Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/client/img/resource/favicon-dagstore.ico" type="image/x-icon">
    <!-- fontawesome font -->
    <link rel="stylesheet" href="~/Content/client/font/font-awesome-pro-5/css/all.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/lib/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <link href="~/assets/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/libs/toastr/build/toastr.min.css">
    <!-- swiper css -->
    <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/lib/swiper-8.3.2/package/swiper-bundle.min.css">
    <link href="/assets/libs/jquery-ui-1.11.4.custom/jquery-ui.theme.css" rel="stylesheet" />
    <!-- animate css -->
    <!--<link rel="stylesheet" href="~/assets/libs/animate.css-main/animate.css">-->
    <!-- css -->
    <link rel="stylesheet" href="~/Content/client/css/index.css">

</head>

<body ng-app="DAGStoreHome" ng-show="LoadPageSuccess">
    @*<preload-directive id="preloader-active">

        </preload-directive>*@

    <div id="root">
        <top-slider-directive class="header-topbar">

        </top-slider-directive>
        <!-- end: header-topbar -->
        <!-- begin: header -->
        <header class="header d-flex flex-column">
            <header-top-directive class="header__top">

            </header-top-directive>

            <main-navigation-directive class="header__main pt-2">

            </main-navigation-directive>
        </header>
        <!-- end: header -->
        <!-- begin: main-banner -->
        <ui-view>

        </ui-view>
        <!-- begin: footer -->

        <footer-directive>

        </footer-directive>
    </div>
    <script src="/Content/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <script src="/assets/libs/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script>
        $(window).on('load', function () {
            $('#preloader-active').delay(2500).fadeOut("slow");
            $('body').delay(450).css({
                'overflow': 'visible'
            });
        });
    </script>
    <!-- bootstrap js -->
    <script src="/Content/lib/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"></script>

    <!-- swiper js -->
    <script src="/Content/lib/swiper-8.3.2/package/swiper-bundle.min.js"></script>
    <script src="/Content/client/js/carousel.js"></script>
    <!-- toastr plugin -->
    <script src="/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- App Angularjs -->
    <script src="~/assets/libs/angular.js/angular.js"></script>
    <script src="/assets/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="/assets/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="/assets/libs/angular-local-storage/angular-local-storage.js"></script>
    <script src="/assets/libs/angular-loading-bar/loading-bar.js"></script>
    <script src="~/assets/libs/oclazyload/ocLazyLoad.js"></script>
    <script src="~/assets/libs/ngAnimate/angular-animate.js"></script>
    <script src="~/app/shared/modules/DAGStore.common.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/sliderService.js"></script>
    <script src="/app/shared/services/alertService.js"></script>
    <!-- Directive -->
    <script src="/app/shared/directives/preload/preloadDirective.js"></script>
    <script src="/app/shared/directives/preload/preloadController.js"></script>
    <script src="/app/shared/directives/top-slider/top-sliderDirective.js"></script>
    <script src="/app/shared/directives/top-slider/top-sliderController.js"></script>
    <script src="/app/shared/directives/header-top/header-topDirective.js"></script>
    <script src="/app/shared/directives/header-top/header-topController.js"></script>
    <script src="/app/shared/directives/main-navigation/main-navigationDirective.js"></script>
    <script src="/app/shared/directives/main-navigation/main-navigationController.js"></script>
    <script src="/app/shared/directives/footer/footerDirective.js"></script>
    <script src="/app/shared/directives/footer/footerController.js"></script>
    <!-- App -->
    <script src="~/app/app.js"></script>
    <script src="/app/components/client/index/index.module.js"></script>
    <script src="/app/components/client/index/indexController.js"></script>
    <script src="~/app/components/client/category/category.module.js"></script>
    <script src="~/app/components/client/category/categoryController.js"></script>
    <script src="~/app/components/client/product/product.module.js"></script>
    <script src="~/app/components/client/product/productController.js"></script>
    <script src="~/app/components/client/cart/cart.module.js"></script>
    <script src="~/app/components/client/cart/cartController.js"></script>
    <script src="/app/components/client/suggest/suggest.module.js"></script>
    <script src="/app/components/client/suggest/suggestController.js"></script>
    <script src="/app/components/client/discount/discount.module.js"></script>
    <script src="/app/components/client/discount/discountController.js"></script>
    <script src="/app/components/client/news/news.module.js"></script>
    <script src="/app/components/client/news/newsController.js"></script>
    <script src="/app/components/client/search/search.module.js"></script>
    <script src="/app/components/client/search/searchController.js"></script>
    <script src="/app/components/client/historyorder/historyorder.module.js"></script>
    <script src="/app/components/client/historyorder/historyorderController.js"></script>
    <script src="/app/components/client/cart/paymentController.js"></script>
    <script src="/app/components/client/news/listNewsController.js"></script>

</body>

</html>
