<div class="big-banner">
    <a aria-label="slide" data-cate="0" data-place="1998" href="~/Error/Index">
        <img src="~/Content/client/img/big-banner/Banner-Big-1920x450-1920x450.jpg" alt="Banner Big Campaign">
        <img src="~/Content/client/img/big-banner/5e687f55f7f335ad6ce2.jpg" alt="Banner Big Campaign">
    </a>
</div>
