<footer class="footer">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-4 gy-4">
            <div class="col">
                <div class="footer__list-link">
                    <div class="footer__link">
                        <a href="~/Error/Index">Tích điểm Quà tặng VIP</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Lịch sử mua hàng</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Cộng tác bán cùng TGDD</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Tìm hiểu về mua trả góp</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Chính sách bảo hành</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Chính sách đổi trả</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Giao hàng và thanh toán</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Hướng dẫn mua online</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Bán hàng doanh nghiệp</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Phiếu mua hàng</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="footer__list-link">
                    <div class="footer__link">
                        <a href="~/Error/Index">In hóa đơn điện tử</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Quy chế hoạt động</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Nội quy cửa hàng</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Chất lượng phục vụ</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Cảnh báo giả mạo</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Chính sách sản phẩm Apple</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Giới thiệu công ty</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Tuyển dụng</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Gửi góp ý, khiếu nại</a>
                    </div>

                    <div class="footer__link">
                        <a href="~/Error/Index">Tìm siêu thị</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="footer__link">
                    <span><b>Tổng đài hỗ trợ</b> (Miễn phí gọi)</span>
                </div>

                <div class="footer__link">
                    <span><b>Gọi mua: </b> <a class="text-primary" href="tel:18001060">1800.1060</a> (7:30 - 22:00)</span>
                </div>

                <div class="footer__link">
                    <span><b>Kỹ thuật: </b> <a class="text-primary" href="tel:18001060">1800.1763</a> (7:30 - 22:00)</span>
                </div>

                <div class="footer__link">
                    <span><b>Khiếu nại: </b> <a class="text-primary" href="tel:18001060">1800.1062</a> (7:30 - 22:00)</span>
                </div>

                <div class="footer__link">
                    <span><b>Bảo hành: </b> <a class="text-primary" href="tel:18001060">1800.1064</a> (7:30 - 22:00)</span>
                </div>
            </div>
            <div class="col">
                <div class="footer__social">
                    <a href="~/Error/Index">
                        <i class="fab fa-facebook"></i> 3755.1k Fan
                    </a>
                    <a href="~/Error/Index">
                        <i class="fab fa-youtube"></i> 848k Đăng ký
                    </a>
                </div>

                <div class="footer__certify">
                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>
                </div>

                <div class="footer__website">
                    <!-- <p>Website cùng tập đoàn</p> -->
                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>

                    <a href="~/Error/Index">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

