<!--<!doctype html>
<html lang="en">

<head>-->
    <!-- Begin: Common Head -->
    <!--<meta charset="utf-8" />
    <title>@ViewBag.Title | Hệ thống DAGStore.online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Hệ thống quản lý website kinh doanh đồ công nghệ DAGStore" name="description" />-->
    <!-- favicon -->
    <!--<link href="~/Content/client/ico/favicon-dagstore.ico" rel="shortcut icon" />-->

    <!-- Bootstrap css -->
    <!--<link href="~/Content/admin/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />-->

    <!-- Icons Css -->
    <!--<link href="~/Content/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/client/font/font-awesome-pro-5/css/all.min.css" rel="stylesheet" />-->

    <!-- App Css-->
    <!--<link href="~/Content/admin/css/app.css" rel="stylesheet" />-->
    <!-- End: Common Head -->

    <!--@RenderSection("RenderCSS", false)
</head>-->

<!-- Begin: PreLoader -->
<!--@RenderPage("~/Views/Shared/Partials/_PreLoader.cshtml")-->
<!-- End: PreLoader -->

<!--<body data-sidebar="dark">-->
    <!-- Begin: Page -->
    <!--<div id="layout-wrapper">-->
        <!-- Begin: TopBar -->
        <!--@RenderPage("~/Views/Shared/Partials/_Topbar.cshtml")-->
        <!-- End: TopBar -->
        <!-- Begin: LeftSidebar -->
        <!--@RenderPage("~/Views/Shared/Partials/_LeftSidebar.cshtml")-->
        <!-- End: LeftSidebar -->
        <!-- Begin: Body -->
        <!--@RenderBody()-->
        <!-- End: Body -->
        <!-- Begin: Footer -->
        <!--@RenderPage("~/Views/Shared/Partials/_Footer.cshtml")-->
        <!-- JAVASCRIPT -->
        <!--<script src="~/Content/admin/libs/jquery/jquery.min.js"></script>
        <script src="~/Content/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/admin/libs/metismenu/metisMenu.min.js"></script>
        <script src="~/Content/admin/libs/simplebar/simplebar.min.js"></script>
        <script src="~/Content/admin/libs/node-waves/waves.min.js"></script>
        <script src="~/Content/admin/js/app.js"></script>
        <script src="~/Content/admin/js/app.js"></script>-->
        <!-- End: Footer -->
    <!--</div>-->
    <!-- End: Page -->
    <!-- Begin: Common Script -->
    <!--@RenderPage("~/Views/Shared/Partials/_Script.cshtml")-->
    <!-- End: Common Script -->
    <!-- Begin: AngularJS -->
    <!--<script src="~/Content/lib/angular.js/angular.js"></script>
    <script src="~/Content/lib/angular-ui-router/angular-ui-router.js"></script>-->
    <!-- End: AngularJS -->
    <!--@RenderSection("RenderJS", false)


</body>
</html>-->
