
<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input ng-model="emailverifi.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="max-width: 200px;">
        </div>

        <button ng-click="SendCode()" type="button" class="btn btn-outline-primary">Gửi code</button>
        <span ng-show="SendCodeSuccess" class="text-danger">Mã xác nhận đã gửi tới email của bạn</span>
        <div class="form-group">
            <label for="exampleInputEmail1">Mã xác nhận</label>
            <input ng-model="emailverifi.code" type="text" class="form-control" id="exampleInputEmail1" placeholder="Mã xác nhận" style="max-width: 200px;">
        </div>

        <button class="btn btn-primary">Xác nhận</button>
    </form>
</div>
