<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Trang quản trị | DAGStore.online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />


    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/trademark/favicon-dagstore.ico">
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    @*UI dropdown*@
    <link href="~/assets/libs/UI-Transition/transition.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/UI-Dropdown-master/dropdown.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sematic/ui-icon/icon.min.css" rel="stylesheet" />

    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/fonts/font-awesome-pro-5/css/all.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" type="text/css" href="/assets/libs/toastr/build/toastr.min.css">
    <!-- Sweet Alert-->
    <link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- dashboard -->

</head>

<body data-sidebar="dark" ng-app="DAGStoreLogin">
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <i class="ri-loader-line spin-icon"></i>
            </div>
        </div>
    </div>


    <ui-view>

    </ui-view>



    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- Sematic UI plugin -->
    @*<script src="~/assets/libs/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js"></script>*@
    <script src="~/assets/libs/UI-Transition/transition.js"></script>
    <script src="~/assets/libs/UI-Dropdown-master/dropdown.js"></script>
    <!-- toastr plugin -->
    <script src="/assets/libs/toastr/build/toastr.min.js"></script>
    <!-- Sweet Alerts js -->
    <script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- Ckeditor -->
    <script src="~/assets/libs/ckeditor/ckeditor.js"></script>
    <script src="~/assets/libs/ckfinder/ckfinder.js"></script>

    <!-- App Angular -->
    <script src="/assets/libs/angular.js/angular.js"></script>
    <script src="/assets/libs/oclazyload/ocLazyLoad.js"></script>
    <script src="/assets/libs/angular-ui-router/angular-ui-router.js"></script>


    <script src="/app/shared/modules/DAGStore.common.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/alertService.js"></script>
    <script src="/app/shared/filters/statusFilter.js"></script>
    <script src="/app/shared/services/apiService.js"></script>
    <script src="/app/shared/services/dataTableService.js"></script>
    <script src="~/app/shared/services/ckeditorService.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/components/admin/login/loginController.js"></script>
</body>
</html>

