 <!--start page title-->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">{{config.nameManage}}</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a ui-sref="dashboard">DAGStore</a></li>
                    <li class="breadcrumb-item"><a ui-sref="page">Quản lý {{config.nameManage}}</a></li>
                    <li class="breadcrumb-item active"><a ui-sref="add-page"></a>{{config.namePage}}</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!--end page title-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                Trang edit suggest
            </div>
        </div>
    </div>
</div>
<!--end row-->
<script>
    $(".ui.dropdown").dropdown({

    });
</script>