<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">loại sản phẩm</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">DAGStore</a></li>
                    <li class="breadcrumb-item"><a ui-sref="category">Quản lý loại loại sản phẩm</a></li>
                    <li class="breadcrumb-item active"><a ui-sref="category-add"></a>Thêm mới</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <form class="form-horizontal" novalidate name="formAddCategory" role="form" ng-submit="AddCategory()">
                    <!-- Name -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Tên loại sản phẩm</label>
                        <div class="col-md-10">
                            <input ng-model="category.Name" name="name" ng-maxlength="500" required class="form-control" type="text" value="">
                            <span class="text-valid" ng-show="formAddcategory.name.$error.required && formAddcategory.name.$touched">Tên loại sản phẩm không được để trống!</span>
                            <span class="text-valid" ng-show="formAddcategory.name.$error.maxlength">Tên loại sản phẩm không được quá 500 ký tự!</span>
                        </div>
                    </div>

                    <!-- ParentCategoryID -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mục loại sản phẩm cha</label>
                        <div class="col-md-10">

                            <div class="ui dropdown fluid search selection">
                                <input ng-model="category.ParentCategoryID" type="hidden" name="type" value="0">
                                <i class="dropdown icon"></i>
                                <div class="default text">-- Trống --</div>
                                <div class="menu">
                                    <div ng-repeat="item in categorys" class="item" data-value="{{item.ID}}">{{item.Name}}</div>
                                </div>
                            </div>    
                        </div>
                    </div>

                    <!-- ImagePath -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Ảnh đại diện</label>
                        <div class="col-md-10">
                            <div class="input-control d-flex align-items-center">
                                <button ng-click="ChooseImage(true)" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Chọn ảnh</button>
                                <i ng-click="ChooseImage(false)" style="cursor:pointer" ng-show="statusChooseAvatar" class="fal fa-times-circle text-danger ml-3"></i>
                                <input type="hidden" name="picturepath" ng-model="category.PicturePath">
                            </div>

                            <img style="width:160px" class="animate__fadeInDown img-fluid mt-3 rounded" ng-show="statusChooseAvatar" name="picturepath" src="{{category.PicturePath}}">
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Mô tả</label>
                        <div class="col-md-10">
                            <textarea ck-editor ng-model="category.Description" name="description" id="DAGStoreTextArea" rows="10" cols="80"></textarea>
                        </div>
                    </div>

                    <!-- DisplayOrder -->
                    <div class="form-group row">
                        <label for="example-number-input" class="col-md-2 col-form-label">Độ ưu tiên</label>
                        <div class="col-md-10">
                            <input ng-model="category.DisplayOrder" required name="displayorder" class="form-control" type="number" value="0" id="example-number-input">
                            <span ng-show="formAddcategory.displayorder.$error.required && formAddcategory.displayorder.$touched">Giá loại sản phẩm!</span>
                        </div>
                    </div>

                    <!-- Metakeywords -->
                    <div class="form-group row mt-4">
                        <label for="example-text-input" class="col-md-2 col-form-label">MetaKeywords</label>
                        <div class="col-md-10">
                            <input ng-model="category.MetaKeywords" name="metakeywords" class="form-control" type="text" value="">
                        </div>
                    </div>

                    <!-- MetaDescription -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">MetaDescription</label>
                        <div class="col-md-10">
                            <input ng-model="category.MetaDescription" name="metadescription" class="form-control" type="text" value="">
                        </div>
                    </div>

                    <!-- MetaTitle -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">MetaTitle</label>
                        <div class="col-md-10">
                            <input ng-model="category.MetaTitle" name="metatitle" class="form-control" type="text" value="">
                        </div>
                    </div>

                    <!-- Alias -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-2 col-form-label">Alias</label>
                        <div class="col-md-10">
                            <input ng-model="category.Alias" name="alias" class="form-control" type="text" value="">
                        </div>
                    </div>

                    <!-- ShowOnHomePage -->
                    <div class="form-group row d-flex align-items-center">
                        <label for="example-number-input" class="col-md-2 col-form-label">Hiện tại trang chủ</label>
                        <div class="col-md-10 d-flex align-items-center">
                            <input type="checkbox" id="ShowOnHomePage" switch="none" checked="" ng-model="category.ShowOnHomePage" ng-checked="category.ShowOnHomePage">
                            <label class="mr-0" for="ShowOnHomePage" data-on-label="On" data-off-label="Off"></label>
                        </div>
                    </div>

                    <!-- Published -->
                    <div class="form-group row d-flex align-items-center">
                        <label for="example-number-input" class="col-md-2 col-form-label">Hoạt động</label>
                        <div class="col-md-10 d-flex align-items-center">
                            <input type="checkbox" id="Published" switch="none" checked="" ng-model="category.Published" ng-checked="category.Published">
                            <label class="mr-0" for="Published" data-on-label="On" data-off-label="Off"></label>
                        </div>
                    </div>

                    <div class="add-btn mb-4 d-flex justify-content-end" style="gap:12px">
                        <button ui-sref="category" class="btn btn-secondary waves-effect waves-light">Trở lại</button>
                        <button ng-disabled="formAddCategory.$invalid" type="submit" class="btn btn-primary waves-effect waves-light">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->
<script>
    $(".ui.dropdown").dropdown({
        
    });

    /*$('.ui.dropdown').dropdown('set selected', 0);*/
 
</script>