
<div class="container">

    <ul class="nav main-nav">
        <li ng-repeat="menu in SiteMenu | filter:{ParentCategoryID : 0, Published: true,ShowOnHomePage: true} | limitTo: 10 | orderBy: '-DisplayOrder'" ng-class="(SiteMenu | filter:{ParentCategoryID : menu.ID}).length > 0?'nav-item main-nav__item dropdown-toggle single-column':'nav-item main-nav__item'">
            <a href="#" class="main-nav__item-link">
                <i><img src="{{menu.PicturePath}}" alt=""></i>
                <span class="">{{menu.Name}}</span>
            </a>
            <!-- We will create submenu only when available -->
            <div class="main-sub-nav" ng-if="(SiteMenu | filter:{ParentCategoryID : menu.ID}).length > 0">
                <div class="main-sub-nav__item">
                    <a ng-repeat="menu in SiteMenu | filter:{ParentCategoryID : menu.ID}">
                        <h3>{{menu.Name}}</h3>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
