/* #region : Banner Media*/
.carousel-inner{
    height: 44px;
}

.carousel-item > img{
    height: 44px;
    width: 100%;
}

.carousel-control-next > i, .carousel-control-prev > i{
    color: #666;
    font-size: 40px;
}

.carousel-control-next:hover > i, .carousel-control-prev:hover > i{
    color: #fff;
}
/* #endregion */

/* #region : Header*/
.header {
    padding: 8px 0;
    background-color: #ffd400;
}

.header__top{
    margin-bottom: 8px;
}

.header__logo{
    height: 40px;
}

.header__logo > img{
    width: auto;
    height: 100%;
}

.header__logo > img:nth-child(2){
    display: none;
}

.header__top > .container{
    display: flex;
    flex-wrap: wrap;
}

.header__address {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 140px;
    margin: 0 20px;
    padding: 4px 12px;
    background: rgba(255,172,10,.6);
    color: #333;
    font-size: 12px;
}

.header__address > span:nth-child(3) {
    position: relative;
    max-width: 116px;
    padding-right: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.header__address > span:nth-child(3)::before {
    position: absolute;
    top: 40%;
    right: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: '';
}

.header__address > i{
    display: none;
}

.modal__andress{
    height: 520px;
    border: none;
}

.modal__andress-header{
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    background: #2f80ed;
}

.modal__andress-header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 10px;
    background: #2f80ed;
    overflow: hidden;
}

.modal__andress-header__top-title {
    width: 70%;
    color: #fff;
    font-size: 14px;
    text-align: left;
}

.offcanvas__menu-header__top-closed,
.modal__andress-header__top-closed{
    padding: 8px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.header__collapse-categories:hover,
.offcanvas__menu-header__top-closed:hover{
    background-color: #ccc;
}

.offcanvas__menu-header{
    justify-content: right;
}

.offcanvas-header__collapse{
    width: 100% !important;
}

.offcanvas__menu-header__top-closed{
    color: #000;
    border: 1px solid #ccc;
}

.header__collapse-categories{
    display: flex;
    min-width: 30%;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.header__collapse-blog > strong{
    font-size: 14px;
}

.header__collapse-blog__list-item{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.header__collapse-blog__item {
    padding: 10px 0px;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.header__collapse-other-link{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    font-size: 14px;
    line-height: 16px;
}

.text-primary{
    color: #2f80ed !important;
}

.offcanvas__menu-header__top-closed:hover,
.header__collapse-categories:hover{
    color: #fff;
    background-color: #2f80ed;
}

.header__collapse-list-categories > .container > .row{
    gap: 12px;
    flex-wrap: wrap;
}

.offcanvas__menu-header__top-closed > span{
    margin: 0 12px;
}

.modal__andress-header__top-closed > p{
    display: inline;
    margin: 0 8px;
}

.modal__andress-header__search {
    position: relative;
    width: 100%;
}

.modal__andress-header__search-input {
    width: 100%;
    padding: 8px 28px 8px 40px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.modal__andress-header__search-input:focus{
    outline: none;
}

.modal__andress-header__search-icon{
    position: absolute;
    left: 12px;
    top: 14px;
}

.modal__andress-body{
    overflow-y: unset !important;
}

.modal__andress-body > strong{
    display: block;
    text-align: center;
    font-size: 16px;
}

.modal-location__list-item {
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(2,minmax(0,1fr));
    max-height: 39vh;
    margin-top: 12px;
    overflow: auto;
}


.modal-location__item {
    display: block;
    width: 80%;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 4px;
}

.modal-location__item:hover {
    background: #e9f4fb;
    border-bottom: 1px solid #e9f4fb;
    cursor: pointer;
}

.header__search {
    position: relative;
    width: 312px;
    height: 46px;
    background-color: #fff;
    border-radius: 4px;
}

.header__search > input {
    height: 46px;
    width: calc(100% - 36px);
    padding: 8px 8px 8px 16px;
    background-color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
}

.header__search > input:focus-visible{
    outline: unset;
}

.header__search > button {
    position: absolute;
    top: 10px;
    right: 16px;
    background-color: transparent;
    border: none;
}

.history-order {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 100px;
    margin: 0 20px;
    padding: 4px 12px;
    color: #333;
    font-size: 12px;
    text-align: center;
    background: rgba(255,172,10,.6);
}

/* header cart */

.header__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 46px;
    width: 112px;
    padding: 4px 12px;
    background: rgba(255,172,10,.6);
    color: #333;
    font-size: 20px;
}

.header__cart-icon {
    position: relative;
}

.header__cart-icon > span {
        background-color: #dd1c1a;
        position: absolute;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 10px;
        line-height: 12px;
        left: 8px;
        height: 12px;
        text-align: center;
        top: 0;
        width: 12px;
    }

.header__cart > span{
    font-size: 12px;
    font-weight: bold;
}

/* header blog */
.header__blog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    justify-content: space-between;
    height: 46px;
    margin: 0 20px;
}

.header__blog-item{
    padding: 0 12px;
    text-align: center;
}

.header__blog-item:nth-child(2){
    border-left: 3px solid #ffe56c;
    border-right: 3px solid #ffe56c;
}

.header__blog-item > a{
    color: #333;
    font-weight: 500;
    font-size: 14px;
}

/* header collapse */
.header__collapse{
    display: none;
}

.header__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 46px;
    width: 100px;
    padding: 4px 12px;
    background: rgba(255,172,10,.6);
    color: #333;
    font-size: 20px;
}

.header__menu > span{
    font-size: 12px;
    font-weight: bold;
}

/* main nav */

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.main-nav__item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-nav__item-link{
    position: relative;
    color: #000;
}

.main-nav__item-link:hover{
    color: #000;
}

.main-nav__item-link > i > img{
    height: 20px;
    width: auto;
    object-fit: cover;
}

.main-nav__item-link > span{
    color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* sub nav */
.main-sub-nav {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(4,auto);
    width: 772px;
    padding: 12px;
    background: #fff;
    border-radius: 4px;
    z-index: 10;
    border: 1px solid #eee;
}

.main-nav__item:hover > .main-sub-nav{
    display: grid;
}

.main-sub-nav::before, .main-sub-nav::after {
    position: absolute;
    bottom: 100%;
    left: 40px;
    width: 0;
    height: 0;
    content: '';
    border-bottom: 10px solid #d9d9d9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-color: #fff;
}

.main-sub-nav__item{
    width: 100%;
    margin-bottom: 12px;
}

.main-sub-nav__item:first-child{
    grid-row: 1/4;
}

.main-sub-nav__item > strong{
    padding-bottom: 6px;
    margin-bottom: 6px;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

.main-sub-nav__item > a{
    position: relative;
    display: block;
    padding: 10px 6px 0 0;
    color: #000;
    font-size: 10px;
}

.main-sub-nav__item > a > h3{
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}

.main-sub-nav__item > a:hover > h3 {
    font-weight: bold;
}

.single-column .main-sub-nav {
    width: 180px;
}

.single-column:last-child .main-sub-nav {
    left: -32px;
    width: 220px;
}

@media only screen and (max-width: 1400px) {
    .header__logo > img:nth-child(1){
        display: none;
    }

    .header__logo > img:nth-child(2){
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .header__top{
        height: auto;
    }

    .header__address{
        margin-right: 0;
        margin-left: 0;
    }

    .history-order{
        margin: 0;
    }

    .header__top > .container{
        justify-content: space-between;
    }

    .header__search{
        order: 1;
        min-width: 100%;
        margin-top: 16px;
    }

    .header__blog{
        flex: unset;
        justify-content: center;
    }

    .main-nav__item-link > i{
        display: none;
    }

    .main-nav__item.dropdown-toggle::after{
        display: none;
    }

    .main-nav__item:hover > .main-sub-nav{
        display: none;
    }

    .main-nav__item:nth-child(8) ~ .main-nav__item{
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .header__blog{
        display: none;
    }

    .header__collapse{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .header__address > span,
    .header__cart > span,
    .header__menu > span{
        display: none;
    }

    .header__address{
        align-items: center;
        justify-content: center;
        height: 46px;
        color: #333;
        font-size: 20px;
    }

    .header__address > i{
        display: block;
    }

    .header__address{
        width: 120px;
    }

    .header__address,
    .header__cart,
    .header__menu{
        width: 60px;
    }

    .main-nav__item:nth-child(5) ~ .main-nav__item{
        display: none;
    }
}
/* #endregion */

/* #region : Promo BHX*/
.promo-hbx{
    border: 6px solid #008847;
    border-top: 0;
    background: #008847;
    border-radius: 12px;
}

.promo-bhx__top{
    display: block;
    color: #fff;
    position: relative;
    font-size: 16px;
    background: #008847;
    padding: 16px 170px 16px 35px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.promo-bhx__dot-ani{
    background-color: #ffe66b;
    border-radius: 100%;
    display: block;
    left: 10px;
    height: 8px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    left: 16px;
    width: 8px;
}

.promo-bhx__dot-child{
    border: 1px solid #ffe66b;
    background-color: rgba(255,230,107,.2);
    border-radius: 100%;
    display: block;
    height: 8px;
    opacity: 1;
    animation: sonar 1.25s linear infinite;
    width: 8px;
}

.promo-bhx__banner{
    color: #fff200;
    display: flex;
    align-items: center;
    gap: 4px;
}

.promo-bhx__text::before{
    content: "•";
    margin: 0 6px;
}

.promo-bhx__note{
    font-style: italic;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.promo-bhx__more{
    position: absolute;
    margin: auto;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

.promo-bhx__more > a{
    color: #fff;
    display: flex;
    align-items: center;
}

.promo-bhx__more-img{
    height: 30px;
    width: 30px;
    margin-left: 4px;
}

@keyframes sonar {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(4);
        transform: scale(4);
        opacity: 0;
    }
}

.promo-bhx__body{
    display: flex;
    background-color: #008847;
    padding: 0 10px;
    gap: 12px;
}

.promo-bhx__voucher{
    background: #fefcea;
    padding: 6px 10px 32px 10px;
    position: relative;
    margin: 0px 0 0px 5px;
    border-radius: 3px;
}

.promo-bhx__product{
    width: 80%;
}


.promo-bhx__voucher-title{
    color: #3b864d;
    font-size: 15px;
    font-weight: 600;
    /* width: 200px; */
}

.promo-bhx__voucher-content{
    margin-bottom: 6px;
   
}

.promo-bhx__voucher-content input{
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid #008848;
    width: 100%;
    margin-top: 8px;
    clear: both;
    box-sizing: border-box;
    height: 32px;
    text-indent: initial;
    padding-left: 12px;
}

.promo-bhx__voucher-content button{
    width: 100%;
    height: 34px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #bdbdbd;
    color: #fff;
    margin-top: 9px;
    cursor: pointer;
}

.promo-bhx__voucher-content input:focus-visible{
    border: 1px solid #008848;
    outline: none;
}

.promo-bhx__voucher-note{
    color: #afafaf;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 5px;
}

.promo-bhx__carousel img{
    height: 302px;
    /* width: 180px; */
    border-radius: 0;
}

@media only screen and (max-width: 1400px) {
    .promo-bhx__product{
        width: 75%;
    }  
}

@media only screen and (max-width: 1200px) {
    .promo-bhx__product{
        width: 70%;
    }  
}

@media only screen and (max-width: 992px) {
    .promo-bhx__product{
        width: 65%;
    }  
}

@media only screen and (max-width: 768px) {
    .promo-bhx__product{
        width: 50%;
    }  

    .promo-bhx__text{
        display: none;
    }

    .promo-bhx__note{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .promo-hbx{
        margin-bottom: 16px;
    }
}
/* #endregion */

/* #region : Footer*/
.footer{
    clear: both;
    border-top: 1px solid #e2e2e2;
    background: #fff;
    padding: 16px 0 4px 0;
}

.footer__link > span,
.footer__link > a{
    color: #333;
    line-height: 28px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__link > a:hover{
    color: #2f80ed;
}


.footer__social{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
}

.footer__social > a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.footer__social > a > i{
    margin-right: 4px;
}

.footer__social > a:nth-child(2) > i{
    color: red;
}

.footer__certify{
    margin-bottom: 12px;
}

.footer__website > a,
.footer__certify > a{
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.footer__certify > a > i{
    background-image: url("/Content/client/img/resource/icon_common@2x.png");
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}

.footer__certify > a:nth-child(1) > i{
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}

.footer__certify > a:nth-child(2) > i{
    background-position: -250px 0;
    height: 25px;
    width: 25px;
}

.footer__certify > a:nth-child(3) > i{
    background-position: -80px -60px;
    height: 24px;
    width: 122px;
}

.footer__website > a > i {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.png?v=3);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 250px 200px;
}

.footer__website > a:nth-child(1) > i {
    background-position: 0 -58px;
}

.footer__website > a:nth-child(2) > i {
    background-position: -85px 0;
}

.footer__website > a:nth-child(3) > i {
    background-position: -170px 0;
}

.footer__website > a:nth-child(4) > i {
    background-position: -85px -90px;
}

.footer__website > a:nth-child(5) > i {
    background-position: -170px -29px;
}

.footer__website > a:nth-child(6) > i {
    background-position: 0 -29px;
}

.footer__website > a:nth-child(7) > i {
    background-position: 0 -90px;
}

.footer__website > a:nth-child(8) > i {
    background-position: 0 -120px;
}
/* #endregion */

/* #region : Copyright*/
.copyright{
    background-color: #f1f1f1;
    padding: 16px 0;
}
/* #endregion */

/* #region : Preload*/
.se-pre-con {
    background: url("/Content/client/img/resource/fit-utehy.gif") center no-repeat #fff;
    /*background: url("/Content/client/img/resource/fit-utehy.gif")*/
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
/* #endregion */

/* Preload */
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader .preloader-circle {
        width: 100px;
        height: 100px;
        position: relative;
        border-style: solid;
        border-width: 3px;
        border-top-color: #ffd400;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        z-index: 10;
        border-radius: 50%;
        -webkit-box-shadow: 0 1px 5px 0 rgba(35,181,185,0.15);
        box-shadow: 0 1px 5px 0 rgba(35,181,185,0.15);
        background-color: #ffffff;
        -webkit-animation: zoom 2000ms infinite ease;
        animation: zoom 2000ms infinite ease;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

.preloader .preloader-circle2 {
        border-top-color: #0078ff
    }

.preloader .preloader-img {
        position: absolute;
        top: 50%;
        z-index: 200;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 6px;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

.preloader .preloader-img img {
            max-width: 55px
        }

.preloader .pere-text strong {
        font-weight: 800;
        color: #dca73a;
        text-transform: uppercase
    }

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}



.main-sub-nav seacrh-input::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.main-sub-nav.seacrh-input::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.main-sub-nav.seacrh-input::-webkit-scrollbar-thumb {
    background-color: #1cbb8c;
    border-radius: 4px;
    border: 2px solid #1cbb8c;
}
